extends layout

block content
  div.mainSection
    h1= "List of APIs with Documentation - "+apiList.length
    each val in apiList
      div 
        div.apiListSection
          h2= val.api_name+" - managed by "+val.api_owner
          p= "Added/Edited Last on - "+val.insert_datetime 
          p= val.api_desc
          a(href="/edit/"+val.id)
            button Edit this API
          a(href="/view/"+val.id)
            button View Documentation
