* {
  font-family: 'Alegreya Sans', sans-serif;
}

body {
  background-color: #EFF1ED;
}

body {
  margin: 0px;
  padding: 0px;
}
a {
  color: #00B7FF;
  text-decoration: none;
}

h2 {
  margin: 0px;
}

iframe {
  width: 120px;
  height:50px;
  margin-top: 5px;
}

.githubButton {
  height: 100%;
  width: auto;
}

.mainSection {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

.headerNav {
  background-color: #111D4A;
  height: 50px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.headerNavElement {
  height: 100%;
  display: inline-block;
  color: white;
  padding-left: 10px;
  box-sizing: border-box;
  vertical-align: middle;
}

.headerNavElement h1 {
  position: relative;
  top: 0%;
  transform: translateY(-50%);
}



button, .headerNavElement button, input[type="submit"] {
  height: 100%;
  border: 0;
  padding:10px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
  background-color: #68B684;
  color: white;
}

.apiListSection {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.apiListSection button {
  margin-right: 5px;
}

img {
  max-height: 100%;
}

.right {
  float: right;
}

label.newAPIFormElement {
  height: 100%;
  font-size: 24px;
  width: 10%;
  display: inline-block;
}

input[type='text'].newAPIFormElement, input[type='password'], textarea.newAPIFormElement {
  width: 30%;
  padding-left: 10px;
  margin: 0px;
  border: 0px;
  font-size: 18px;
  vertical-align: middle;
}

input[type='text'], input[type='password'] {
  height: 30px;
}

textarea {
  height: 90px;
}

form div {
  padding: 5px;
}

.error {
  color: red;
}

form {
  display: inline
}

.deleteClass {
  background-color: rgb(154, 14, 48);
}

.margin-left-5px {
  margin-left: 5px;
}
